:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #ffffff;
}

.folder {
  margin-top: 6px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  width: 300px;
  cursor: pointer;
}

.folder > span {
  margin: 0 5px;
}

.folder > div > button {
  font-size: 15px;
  background-color: white;
}

.file {
  margin-top: 5px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}

.add-btn {
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.inputContainer {
  display: flex;
  aligt-items: center;
  gap: 5px;
  margin-top: 5px;
  padding-left: 5px;
}

.inputContainer > span {
  margin-left: 5px;
}

.inputContainer__input {
  padding: 5px 12px;
  border: 2px solid #e0e0e0;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: #fff;
}
